/* @font-face {
  font-family: 'StJedise';
  src: url('/fonts/stjedise.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Starjedi';
  src: url('/fonts/starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Roboto', sans-serif;

  h1,
  h2,
  h3 {
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  .no-scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 6px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #171717;
  }

  .custom-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .custom-alt-image {
    max-width: 100%;
    max-height: 100%;

  }

  .custom-heading {
    /* font-family: 'StJedise', sans-serif; */
    font-weight: bold;
    font-size: 4rem;
  }

  .custom-heading2 {
    /* font-family: 'StarJedi', sans-serif; */
    font-weight: 100;
    font-size: 2rem;
  }


}
